{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Privacy</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    </head>
    <body data-new-gr-c-s-check-loaded="14.1131.0" data-gr-ext-installed="">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-4">
                    <img src="{{logo}}" height="75px">
                </div>
                <div class="col-xl-8 float-end">
                </div>
            </div>
            <hr>
            <div class="container">
                <h1 class="mt-4 mb-4">Nagm AD-Din Privacy Policy</h1>
                <p>
                    If you use the Nagm AD-Din application on mobile or tablet devices, or send us an email or use the electronic portal to provide us with personal data,
                    we may share the necessary data with other entities or departments to serve you more effectively.
                </p>
                <p>
                    We will not share your personal data with non-governmental entities unless they are authorized by competent authorities to provide specific government services.
                </p>
                <p>
                    By providing your data and information to Nagm AD-Din, you fully agree to store, process, and use that data by the Saudi authorities.
                </p>
                <p>
                    We reserve the right at all times to disclose any information to competent or related authorities when necessary to comply with any law, system, or government request.
                </p>
                <p>
                    You are solely responsible for the completeness and accuracy of the data you send through the Nagm AD-Din application.
                </p>
                <p>
                    To protect your personal data, electronic storage and personal data sent are secured using appropriate security technologies adopted by Nagm AD-Din.
                </p>
                <p>
                    This platform and any of its mentioned applications may contain electronic links to websites or portals outside of Nagm AD-Din platform or applications. These websites may use different methods to protect their information and privacy from ours, and we are not responsible for the content and methods of privacy and security of those other websites. We recommend that you refer to the privacy notices of those websites.
                </p>
                <p>
                    "I acknowledge my consent to receive notifications and notifications on my registered phone number in Nagm AD-Din, and its use for verification or authentication purposes in electronic services with any public or private entity, and I am responsible for the legal consequences resulting from that."
                </p>
            </div>

            <div class="container" dir="rtl" align="right">
                <h1 class="mt-4 mb-4">
                    سياية الخصوصية لنجم الدين
                </h1>
                <p>
                    إذا قمت باستخدام تطبيق نجم الدين ( أفراد/ أعمال) للأجهزة المحمولة و الكفية أو أرسلت لنا من خلاله بريداً إلكترونيًا  أوعبر البوابة الإلكترونية ( منصة نجم الدين) تزودنا فيه ببيانات شخصية، فإننا قد نتقاسم البيانات الضرورية مع جهات أو إدارات أخرى، وذلك لخدمتك بصورة أكثر فعالية، ولن نتقاسم بياناتك الشخصية مع الجهات غير الحكومية إلا إذا كانت من الجهات المصرح لها من الجهات المختصة بالقيام بأداء خدمات حكومية محددة، وبتقديمك لبياناتك ومعلوماتك إلى (نجم الدين) ، فإنك توافق تمامًا على تخزين ومعالجة واستخدام تلك البيانات من قبل السلطات السعودية، ونحن نحتفظ بالحق في كل الأوقات في كشف أي معلومات للجهات المختصة أو الجهات ذات العلاقة، عندما يكون ذلك ضرورياً للالتزام بأي قانون أو نظام أو طلب حكومي.
                </p>
                <p>
                    إنك مسؤول بمفردك عن تمام وصحة البيانات التي ترسلها من خلال (منصة نجم الدين) أو تطبيق نجم الدين (أفراد/ أعمال)   .
                </p>
                <p>
                    للحفاظ على بياناتك الشخصية، يتم تأمين التخزين الإلكتروني والبيانات الشخصية المرسلة باستخدام التقنيات الأمنية المناسبة و المتبعة فى (نجم الدين).
                </p>
                <p>
                    هذه االمنصة و أى من تطبيقاتها المذكورة أعلاه قد تحتوي على روابط إلكترونية لمواقع أو بوابات خارج (منصة نجم الدين أو تطبيقات نجم الدين) قد تستخدم طرقاً لحماية المعلومات وخصوصياتها تختلف عن الطرق المستخدمة لدينا، ونحن غير مسؤولين عن محتويات وطرق خصوصيات و أمن تلك المواقع الأخرى، وننصحك بالرجوع إلى إشعارات الخصوصية الخاصة بتلك المواقع.
                </p>
                <p>
                    "أقر بالموافقة على تلقي الإشعارات والتبليغات على رقم هاتفي المسجل في (نجم الدين)، واستخدامه لأغراض التحقق أو المصادقة في الخدمات الإلكترونية لدى أي جهة عامة أو خاصة، وبمسؤوليتي عما يترتب على ذلك من آثار نظامية."
                </p>
            </div>
        </div>
        <footer class="mb-2" style="text-align: center">
            <a href="#"></a>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>